/***** min reset *****/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input:focus {
  outline-color: #d4defe;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  font-weight: inherit;
  font-size: inherit;
}
button {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}
button:disabled {
  cursor: not-allowed;
}
ul {
  list-style-type: none;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #ffffff;
}
dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 5px;
  outline: none;
  border: none;
}
.hidden {
  overflow: hidden;
}
#root {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  padding: 0 80px;
}
.search {
  margin-top: 64px;
  width: 100%;
  max-width: 1120px;
  height: 48px;
  position: relative;
}
.input-search {
  width: 100%;
  height: 48px;
  border: 1px solid #d4defe;
  border-radius: 24px;
  padding: 10px 20px;
  font-size: 20px;
  letter-spacing: 1px;
}
.img-search {
  position: absolute;
  top: 12px;
  right: 24px;
  cursor: pointer;
}
.users {
  margin-top: 32px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.item {
  width: 356px;
  height: 314px;
  padding: 25px;
  box-shadow: 4px 4px 20px 0px rgba(34, 60, 80, 0.2);
  border-radius: 16px;
}
.title {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
.contacts {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.phone,
.email {
  height: 20px;
  display: flex;
  align-items: center;
  gap: 14px;
}
.text {
  font-size: 14px;
  color: #8189a3;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.popup {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 16px;
  padding: 24px;
}
.header {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  font-size: 20px;
  font-weight: 700;
}
.close-icon {
  cursor: pointer;
}
.body {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.info {
  display: flex;
  gap: 40px;
}
.info-name {
  width: 137px;
  font-size: 18px;
  color: #262c40;
}
.info-desc {
  width: 275px;
  font-size: 16px;
  color: #8189a3;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer-title {
  font-size: 18px;
  color: #262c40;
}
.footer-desc {
  font-size: 16px;
  color: #8189a3;
}
